<template>
<div
    class="col-lg-6 offset-lg-3 col-md-8 offset-md-2"
    data-testid="signup-page"
  >
  <h2>Todo App</h2>
  <AddTodoItem :createTodo="createTodo" />
  <TodoList :todos="todos" />

</div>
</template>

<script>
import AddTodoItem from "./components/AddTodoItem.vue";
import TodoList from "./components/TodoList.vue";
import { getTodos, addTodo } from "./api/apiCalls";

export default {
  name: "App",
  components: {
    AddTodoItem,
    TodoList,
  },
  data() {
    return {
      todos: [],
    };
  },
  async mounted() {
    this.loadData();
  },
  methods: {
    async loadData() {
      const response = await getTodos();
      this.todos = response.data;
    },
    async createTodo(todoText) {
      const response = await addTodo(todoText);
      this.todos.push({ id: response.data.id, text: response.data.text });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
