<template>
  <input class="form-control" v-model="todoText" placeholder="Todo text" />
  <button class="btn btn-primary mt-2" :disabled="isDisabled" @click="submit">Add</button>
</template>
<script>
export default {
  name: "AddTodoItem",
  data() {
    return {
      todoText: "",
    };
  },
  props: ["createTodo"],

  computed: {
    isDisabled() {
      return this.todoText.length === 0;
    },
  },
  methods: {
    submit: function () {
      this.createTodo(this.todoText);
      this.todoText = ""
    },
  },
};
</script>