
<template>
<div class="card mt-3">
  <div class="card-header bg-dark bg-gradient text-white"><h4>Todo Items</h4></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" v-for="todo in todos" :key="todo.id"><TodoItem :text="todo.text" /></li>
  </ul>
  </div>
</template>
<script>
import TodoItem from "./TodoItem.vue";
export default {
  name: "TodoList",
  components: {
    TodoItem,
  },
  props: { todos: Array },
};
</script>